{% include "header.html" %}
    <div id="body">
        <div data-aos="zoom-in" class="j1">
            <h2>As the innovation driven company</h2>
            <p>Our goal is to provide you robust and reliable technology to transform limb lengthening surgery,
                and change the lives of your patients with less pain. As the innovation driven company, our
                goal is to provide you robust and reliable technology to transform limb lengthening surgery,
                and change the lives of your patients with less pain. As the innovation driven company, our goal
                is to provide you robust and reliable technology to transform limb lengthening surgery, and
                change the lives of your patients with less pain. As the innovation driven company, our goal
                is to provide you robust and reliable technology to transform limb lengthening surgery, and
                change the lives of your patients with less pain.
            </p>
        </div>
    </div>
    <div class="vision">
        <h3 data-aos="fade">OUR VISION</h3>
        <p data-aos="fade">Our goal is to provide you robust and reliable technology to transform limb lengthening surgery, and change
            the lives of your patients with less pain. As the innovation driven company, our goal is to provide you
            robust and reliable technology to transform limb lengthening surgery, and change the lives of your patients
            with less pain.
        </p>
    </div>
    <div class="mission">
        <h3 data-aos="fade">OUR MISSION</h3>
        <p data-aos="fade">As the innovation driven company, our goal is to provide you robust and reliable technology to transform limb
            lengthening surgery, and change the lives of your patients with less pain. As the innovation driven company,
            our goal is to provide you robust and reliable technology to transform limb lengthening surgery, and change
            the lives of your patients with less pain.
        </p>
    </div>
    <div class="team">
        <div class="teamtitle">
            <h3 data-aos="fade" data-aos-anchor=".teamimg">OUR TEAM</h3>
        </div>
        <div class="row g-0 team1">
            <div data-aos="fade" class="col-md-4 teamimg">
                <img src="/static/Rohan Deshpande.png" alt="Rohan Deshpande, CEO of Raycura Medical Technology private limited" title="Rohan Deshpande">
            </div>
            <div data-aos="zoom-in" class="col-md-7 teamtext">
                <h4>ROHAN DESHPANDE</h4>
                <p>Rohan is a Mechanical Engineer and a serial innovator leading the technology and product development efforts. 
                With a strong background in mechanical engineering, he also brings expertise in electronics. Rohan's innovative mindset sets him apart, constantly generating fresh ideas and exploring opportunities for improvement and disruption. 
                Rohan's leadership skills enable him to effectively manage interdisciplinary teams, and make cutting-edge advancements, ensuring his organization remains competitive and at the forefront of innovation.
                </p>
            </div>
        </div>
        <div class="row g-0 team2">
            <div data-aos="zoom-in" data-aos-offset="180" class="col-md-7 order-last order-md-first teamtext2">
                <h4>AYUSH GAIKWAD</h4>
                <p>Ayush Gaikwad, a Mechanical Engineer, contributes to the administrative aspects of the company, overseeing various operational matters. 
                His expertise in operations and sales allows him to provide valuable guidance for product development, ensuring the creation of market-fit products. 
                By leveraging his knowledge and skills, Ayush plays a key role in aligning the company's offerings with customer demands and driving business growth.
                </p>
            </div>
            <div data-aos="fade" class="col-md-4 teamimg">
                <img src="/static/Ayush Gaikwad.jpg" alt="Ayush Gaikwad, CEO of Raycura Medical Technology private limited" title="Ayush Gaikwad">
            </div>
        </div>
    </div>
{% include 'footer.html' %}