{% include "header.html" %}

<body style="background-color: rgb(51, 179, 166);">
    <div class="gohead">
        <h2>GO NEO</h2>
    </div>
    <div class="buyform">
        <form action="" method="post">
            {% csrf_token %}
            <div class="input-buynow">
                <label>Name *:</label><br>
                <input type="text" id="bname" name="customer_name" {% if bname %}placeholder="Please enter your name" {% endif %} autofocus autocomplete="off" area-required="true" />
            </div>
            <div class="input-buynow">
                <label>Shipping Address *:</label><br>
                <input type="text" id="bname" name="shipping_address" required autocomplete="off"
                    area-required="true" />
            </div>
            <div class="input-buynow">
                <label>Pincode *:</label><br>
                <input type="text" id="bname" name="pincode" {% if pincode %}placeholder="Please enter correct pincode"
                    {% endif %} required autocomplete="off" area-required="true" />
            </div>
            <div class="input-buynow">
                <label>Phone No *:</label><br>
                <span>+91</span><input type="text" name="phonenumber" {% if phone %}placeholder="Please enter correct phone number" {% endif %} id="bname" required autocomplete="off"
                    area-required="true" />
            </div>
            <div class="input-buynow">
                <label>Bill to *:</label><br>
                <input type="text" id="bname" name="billto" required autocomplete="off" area-required="true" />
            </div>
            <div class="input-buynow">
                <label>Billing Address *:</label><br>
                <input type="text" id="bname" name="billaddress" required autocomplete="off" area-required="true" />
            </div>
            <div id="bbuttons">
                <div class="buybuttons">
                    <label for="">Price</label>
                    <p class="inr">INR</p>
                    <input id="value" value="{{ f_amount }}" disabled>
                </div>
                <div class="buybuttons">
                    <label for="quantity">Quantity *</label>
                    <input type="number" oninput="cal()" name="quantity" id="quant"  min="1" {% if quant %}placeholder="value > 0"{% endif %}>
                </div>
                <div class="buybuttons">
                    <label for="refcode">Refcode</label>
                    <i class="fa-solid fa-square-check"></i>
                    <input type="text" class="refcode" name="refcode" placeholder="If Any">
                </div>
                <div class="buybuttons">
                    <label>Total</label>
                    <input id="total" value="0" disabled>
                </div>
            </div>
            <div class="buysubmit">
                <button type="submit" id="bsubmit">Submit</button>
            </div>
        </form>
    </div>
    {% include "footer.html" %}
    <script>
    // form //
    function cal(){
    let val = document.querySelector("#value").value;
    let num = document.querySelector("#quant").value;
    let total = document.querySelector("#total");
    let ans = val * num;
    total.value= ans;
    }
    // let sub=document.querySelector("#bsubmit");
    // sub.addEventListener("click",function()
    // {confirm("Do You Want to Submit Form?")})
    </script>
</body>

</html>