<div class="row main-bend g-0">
    <div class="col-6">
        <i class="fa-solid fa-code fa-sm dev"></i>
    </div>
    <div class="col-6 social">
        <i class="fa-brands fa-facebook" ></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="prashant">
        <p>Developed By : Prashant Randiwe</p>
    </div>
    <hr style="color:orange">
    <p>Copyright &copy; 2021 - Present Raycura Medical Technology Ltd. All Rights Reserved</p>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        offset: 250,
        duration: 1500,
        once: true,
        mirror: true,
    });
</script>
<script src="/static/javmain.js" type="text/javascript"></script>
</body>
</html>