{% include "header.html" %}
<div id="home1" class="row g-0">
    <div data-aos="zoom-in" data-aos-duration="2000" class="col-md-6 order-last order-md-first mssg1">
        <h2 class=" m-1 m-md-5">Go Neo</h2>
        <p class="m-2 m-md-5">Measure with easy, that too accurately and save results and note later. Taking
            measurements was never so
            easy. Get you Go Neo today.
        </p>
        <div class="buttonsection m-2 m-md-5">
            <button class="buyrev">Know More</button>
            <a href="{% url 'buynow' %}" style="text-decoration: none;"><button class="buyrev">BUY NOW</button></a>
        </div>
    </div>
    <div class="col-md-6 mssg1ph">
        <img src="/static/goneopng.png" alt="Loading Error">
    </div>
</div>
<div id="home2" class="row g-0">
    <div data-aos="fade-up" class="col-md-6 order-last order-md-first mssg2">
        <h2 class=" m-1 m-md-5">Extend Lenthening nail</h2>
        <p class="m-2 m-md-5">Measure with easy, that too accurately and save results and note later. Taking
            measurements was never so
            easy. Get you Go Neo today.
        </p>
        <div class="buttonsection m-2 m-md-5">
            <button class="buy">Know More</button>
            <!-- <button class="buy">BUY NOW</button> -->
        </div>
    </div>
    <div  class="col-md-6 mssg1ph2">
        <img src="/static/homelen.png" alt="Loading Error">
    </div>
</div>
<div id="home1" class="row g-0">
    <div data-aos="zoom-in" data-aos-duration="2000" class="col-md-6 order-last order-md-first mssg1">
        <h2 class=" m-1 m-md-5">Extend Transport Nail</h2>
        <p class="m-2 m-md-5">Measure with easy, that too accurately and save results and note later. Taking
            measurements was never so
            easy. Get you Go Neo today.
        </p>
        <div class="buttonsection m-2 m-md-5">
            <button class="buyrev">Know More</button>
            <!-- <a href="{% url 'buynow' %}" style="text-decoration: none;"><button class="buyrev">BUY NOW</button></a> -->
        </div>
    </div>
    <div class="col-md-6 mssg1ph">
        <img src="/static/goneopng.png" alt="Loading Error">
    </div>
</div>
{% include 'footer.html' %}