{% include "header.html" %}
    <div class="imga imga3">
        <div class="text lineUp">
            <h3>Lengthening Plate</h3><br>
            <p>As the innovation driven company, our goal is to provide you robust and reliable technology to
                transform limb lengthening surgery, and change the lives of your patients with less pain</p>
        </div>
    </div>
    <div id="body">
        <div data-aos="fade" class="j1">
            <h2>As the innovation driven company</h2>
            <p>Our goal is to provide you robust and reliable technology to transform limb lengthening surgery,
                and change the lives of your patients with less pain. As the innovation driven company, our
                goal is to provide you robust and reliable technology to transform limb lengthening surgery,
                and change the lives of your patients with less pain. As the innovation driven company, our goal
                is to provide you robust and reliable technology to transform limb lengthening surgery, and
                change the lives of your patients with less pain. As the innovation driven company, our goal
                is to provide you robust and reliable technology to transform limb lengthening surgery, and
                change the lives of your patients with less pain.
            </p>
        </div>
    </div>
    <div id="body2">
        <div data-aos="zoom-in" class="k1">
            <h2>Benefits of Extend System</h2>
        </div>
        <div class="row g-0">
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben1.png" class="info"></img>
                <!-- <h5>No Pin Site Infection</h5> -->
            </div>
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben2.png" class="info"></img>
                <!-- <h5>Light Weight</h5> -->
            </div>
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben3.png" class="info"></img>
                <!-- <h5>Weight Bearing</h5> -->
            </div>
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben4.png" class="info"></img>
                <!-- <h5>Fewer Procedures</h5> -->
            </div>
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben5.png" class="info"></img>
                <!-- <h5>Sizes That Fits You</h5> -->
            </div>
            <div data-aos="zoom-in" class="col-6 col-md-4">
                <img src="/static/ben6.png" class="info"></img>
                <!-- <h5>Less Medication</h5> -->
            </div>
        </div>
    </div>
    <div id="tab">
        <div class="l1">
            <h2>TECHNICAL SPECIFICATION</h2>
        </div>
        <div class="l2">
            <table class="table">
                <tr class="tc">
                    <th scope="col"></th>
                    <th scope="col">Femur</th>
                    <th scope="col">Tibia</th>
                </tr>
                <tr class="tc">
                    <th scope="row">Diameters</th>
                    <td>9mm, 10.5mm, 12mm</td>
                    <td>8mm, 9.5mm, 11mm, 12.5mm</td>
                </tr>
                <tr class="tc">
                    <th scope="row">Length</th>
                    <td>270-420mm (20mm increments)</td>
                    <td>270-420mm (20mm increments)</td>
                </tr>
                <tr class="tc">
                    <th scope="row">Weight bearing</th>
                    <td>30kg (9mm, 10.5mm) 50kg (12mm)</td>
                    <td>30kg (9mm, 10.5mm) 50kg (12mm)</td>
                </tr>
                <tr class="tc">
                    <th scope="col">Material</th>
                    <td>Ti6Al4V</td>
                    <td>Ti6Al4V</td>
                </tr>
                <tr class="tc">
                    <th scope="row">Reversible</th>
                    <td>Yes (via controller)</td>
                    <td>Yes (via controller)</td>
                </tr>
                <tr class="tc">
                    <th scope="row">Controller</th>
                    <td>Input 5v Dc 1a (USB)</td>
                    <td>Input 5v Dc 1a (USB)</td>
                </tr>
            </table>
        </div>
    </div>
    <div id="gg">
        <div class="g0">
            <p>Build</p>
            <p>Better</p>
            <p>Blissfully...</p>
        </div>
        <div class="g1">
            <div class="gg1">
                <p>Get in touch with Doctors</p>
            </div>
            <div class="gg1">
                <p>Learn more with videos</p>
            </div>
        </div>
    </div>
{% include 'footer.html' %}